<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>TWITCH_CHANNEL</key>
	<string>$(TWITCH_CHANNEL)</string>
	<key>TWITCH_HELIX_BEARER_TOKEN</key>
	<string>$(TWITCH_HELIX_BEARER_TOKEN)</string>
	<key>TWITCH_HELIX_CLIENT_ID</key>
	<string>$(TWITCH_HELIX_CLIENT_ID)</string>
</dict>
</plist>
