//
//  TwitchSecrets.xcconfig
//  liquid-glass-stream-overlay
//
//  Created by Rodney Mackey on 10.10.2025.
//

TWITCH_CHANNEL = melharucos
TWITCH_HELIX_CLIENT_ID = gp762nuuoqcoxypju8c569th9wz7q5
TWITCH_HELIX_BEARER_TOKEN = 2s4x0c089w8u5ouwdoi5veduxk9sbr

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
