//
//  TwitchSecrets.xcconfig
//  liquid-glass-stream-overlay
//
//  Created by Rodney Mackey on 10.10.2025.
//

TWITCH_CHANNEL = PWGood
TWITCH_HELIX_CLIENT_ID = gp762nuuoqcoxypju8c569th9wz7q5
TWITCH_HELIX_BEARER_TOKEN = 3f4jx2106rjay4wiqg17se6m7iwlk9

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
