//
//  TwitchSecrets.xcconfig
//  liquid-glass-stream-overlay
//
//  Created by Rodney Mackey on 10.10.2025.
//

TWITCH_CHANNEL = *****
TWITCH_HELIX_CLIENT_ID = *****
TWITCH_HELIX_BEARER_TOKEN = *****

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
